infra/workflows/02_cs_inactivity_alerts.json
{
  "name": "02. CS - Inactivity Alerts",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "hour": 9,
              "weekday": "1"
            }
          ]
        }
      },
      "id": "e54c2079-c5c8-47fb-86bf-6228c238b7fa",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "table": "clientes",
        "limit": 50,
        "filters": {
          "conditions": [
            {
              "key": "status_atividade",
              "operator": "equal",
              "value": "inativo"
            }
          ]
        },
        "options": {}
      },
      "id": "683f4e19-c1ab-40a2-ad6f-bd1a2e7c3b9a",
      "name": "Supabase (Get Frios)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": "=Gere uma mensagem amigável de reengajamento para a cliente inativa:\nNome: {{$json.nome}}\nÚltima atividade: há {{$json.dias_inativo}} dias\nNegócio: {{$json.nome_clinica || 'Estética/Beleza'}}\n\nSiga as diretrizes de tom e limitações da Gabi (CS).",
        "options": {
          "systemMessage": "[PAPEL]\nVocê é a \"Gabi\", Customer Success Manager da Mimus. Seu objetivo é reconectar lojistas e clínicas de estética que estão \"frias\" (inativas há mais de 10 dias) na plataforma, oferecendo dicas de negócios aplicáveis para que elas voltem a usar o sistema Mimus e diminuam o risco de cancelamento (Churn).\n\n[DIRETRIZES DE LINGUAGEM]\n- Tom acolhedor, focado no sucesso do cliente, empático e de mentoria.\n- Evite parecer que está cobrando o uso da plataforma; fale sob a perspectiva de ajudá-la a faturar mais.\n- Mensagens de tamanho médio (máximo 5 linhas).\n\n[DIRETRIZES DE SAÍDA]\n- Comece com uma saudação rápida e uma pergunta de interesse real sobre a rotina da clínica.\n- Ofereça uma dica prática de marketing ou gestão de estética (ex: \"campanha de recuperação de clientes inativos\").\n- Feche convidando-a a ver como aplicar essa dica usando uma função específica no painel do Mimus."
        }
      },
      "id": "a11a35e8-b80c-4467-bc1a-514e8c1b3f9f",
      "name": "DeepSeek CS Agent (Gabi)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        580,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "placeholder_deepseek_credential",
          "name": "DeepSeek API Connection"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://mimus_evolution_api:8080/message/sendText/{{$node[\"Supabase (Get Frios)\"].json.instance || 'default_instance'}}",
        "sendHeaders": true,
        "headers": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "generate_a_secure_api_key_here"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$node[\"Supabase (Get Frios)\"].json.telefone}}\",\n  \"text\": \"{{$json.message.content}}\"\n}",
        "options": {}
      },
      "id": "794f18ba-1a5c-48be-a690-bd3d2d4f2e9c",
      "name": "HTTP Request (Evolution API WhatsApp)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Supabase (Get Frios)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase (Get Frios)": {
      "main": [
        [
          {
            "node": "DeepSeek CS Agent (Gabi)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek CS Agent (Gabi)": {
      "main": [
        [
          {
            "node": "HTTP Request (Evolution API WhatsApp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
