infra/workflows/03_support_faq_level1.json
{
  "name": "03. Suporte - FAQ Level 1 (WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-support-webhook",
        "options": {}
      },
      "id": "e64c2079-c5c8-47fb-86bf-6228c238b7fb",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.body.data.key.fromMe}}",
              "value2": true
            }
          ]
        }
      },
      "id": "f64c2079-c5c8-47fb-86bf-6228c238b7fc",
      "name": "Filtro Anti-Loop",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        280,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || {};\nconst messageData = body.data || {};\nconst message = messageData.message || {};\n\n// Extracting text from conversation or extended text message\nconst text = message.conversation || \n             (message.extendedTextMessage && message.extendedTextMessage.text) || \n             \"\";\n\nconst key = messageData.key || {};\nconst remoteJid = key.remoteJid || \"\";\nconst instanceName = body.instance || \"\";\n\nreturn [{\n  json: {\n    text,\n    remoteJid,\n    instanceName,\n    senderName: messageData.pushName || \"Cliente\"\n  }\n}];"
      },
      "id": "693f4e19-c1ab-40a2-ad6f-bd1a2e7c3b9b",
      "name": "Parse WhatsApp Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.text}}",
        "options": {
          "systemMessage": "[PAPEL]\nVocê é o Assistente Virtual do Suporte Nível 1 da Mimus. Seu papel é sanar dúvidas operacionais de clientes lojistas sobre o uso do aplicativo e da plataforma web Mimus, baseando-se estritamente na documentação fornecida pela ferramenta FAQ Data Tool.\n\n[DIRETRIZES DE LINGUAGEM]\n- Tom educado, prestativo, claro e com vocabulário simples e didático.\n- Não utilize jargões técnicos difíceis de entender.\n\n[DIRETRIZES DE SAÍDA]\n- Se a resposta exigir mais de 2 passos, estruture as etapas em uma lista ordenada numericamente (1, 2, 3...).\n- Caso a dúvida seja sobre um recurso inexistente ou necessite de intervenção técnica, informe calmamente que o ticket foi escalado e que um humano entrará em contato em breve."
        }
      },
      "id": "a21a35e8-b80c-4467-bc1a-514e8c1b3f9g",
      "name": "Mimus Support Agent",
      "type": "n8n-nodes-base.advancedAi",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "b11a35e8-b80c-4467-bc1a-514e8c1b3f9h",
      "name": "DeepSeek Chat Model",
      "type": "n8n-nodes-base.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        600,
        100
      ],
      "credentials": {
        "deepseekApi": {
          "id": "placeholder_deepseek_credential",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "c11a35e8-b80c-4467-bc1a-514e8c1b3f9i",
      "name": "Window Buffer Memory",
      "type": "n8n-nodes-base.windowBufferMemory",
      "typeVersion": 1,
      "position": [
        700,
        500
      ]
    },
    {
      "parameters": {
        "name": "faq_data_tool",
        "description": "Busca artigos na FAQ interna da Mimus sobre como usar a plataforma, cadastrar produtos, registrar vendas e gerenciar estoque.",
        "url": "http://mimus_postgres:5432/faq_search",
        "method": "GET",
        "headers": {
          "parameters": []
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$json.text}}"
            }
          ]
        }
      },
      "id": "d11a35e8-b80c-4467-bc1a-514e8c1b3f9j",
      "name": "FAQ Data Tool",
      "type": "n8n-nodes-base.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        800,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://mimus_evolution_api:8080/message/sendText/{{$node[\"Parse WhatsApp Payload\"].json.instanceName}}",
        "sendHeaders": true,
        "headers": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "generate_a_secure_api_key_here"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$node[\"Parse WhatsApp Payload\"].json.remoteJid}}\",\n  \"text\": \"{{$json.output}}\"\n}",
        "options": {}
      },
      "id": "7a4f18ba-1a5c-48be-a690-bd3d2d4f2e9d",
      "name": "HTTP Request (Evolution API WhatsApp)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        950,
        300
      ]
    }
  ],
  "connections": {
    "Evolution API Webhook": {
      "main": [
        [
          {
            "node": "Filtro Anti-Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Anti-Loop": {
      "main": [
        [],
        [
          {
            "node": "Parse WhatsApp Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WhatsApp Payload": {
      "main": [
        [
          {
            "node": "Mimus Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mimus Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Mimus Support Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "FAQ Data Tool": {
      "ai_tool": [
        [
          {
            "node": "Mimus Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mimus Support Agent": {
      "main": [
        [
          {
            "node": "HTTP Request (Evolution API WhatsApp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
